@page "/main"
@using DataModel.Model;
<h2>Transactions</h2>

<button class="btn btn-lg btn-secondary" @onclick="fillterTransactions" style="position: fixed; top: 20px; right: 415px;">
    Filter
</button>

<button class="btn btn-lg btn-secondary" @onclick="sortingTransactionAsc" style="position: fixed; top: 20px; right: 320px;">
    Sort
</button>

<button class="btn btn-lg btn-secondary" @onclick="addTransaction" style="position: fixed; top: 20px; right: 120px;">
   Add Transaction
</button>

<!-- Users List Table -->
@if (transaction.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Transaction Type</th>
                <th>Balance</th>
                <th>Source</th>
                <th>Tag</th>
                <th>Remark</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in transaction)
            {
                <tr>
                    <td>@transaction.transactionType</td>
                    <td>@transaction.balance</td>
                    <td>@transaction.source</td>
                    <td>@transaction.tag</td>
                    <td>@transaction.remark</td>
                    <td>@transaction.created</td>
                    <td>
                        <button class="btn btn-danger" @onclick="() => DeleteTransaction(transaction.transactionId)">Delete</button>
                        <button class="btn btn-danger" @onclick="() => NavTransaction(transaction.transactionId)">Update</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Transaction found.</p>
}
@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-info">
        @Message
    </div>
}
<button class="btn btn-lg btn-secondary" @onclick="backHome" style="position: fixed; top: 20px; right: 20px;">
   Back
</button>


